@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.input {
    @apply w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary;
}

.active hr {
    display: block;
}