@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
