@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 740px) {
    .active p{
        @apply text-white bg-primary
    }
}